@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #ffc045;     /* Jaune Fromage */
  --color-secondary: #3d2514;   /* Brun Pain Grillé / Viande */
  --color-red-primary: #bf2222; /* Rouge Ketchup / Alerte */
  
  --font-Alfa: "Alfa Slab One", serif;
  --font-Roboto: "Roboto", sans-serif;
}