@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #ffc045;     /* Jaune Fromage */
  --color-primary-hover: #e6ac3c; /* Jaune Fromage Foncé */
  
  --color-secondary: #3d2514;   /* Brun Pain Grillé / Viande */
  --color-secondary-hover: #231105; 
  --color-red-primary: #bf2222; /* Rouge Ketchup / Alerte */
  --color-red-primary-hover: #9e1b1b; /* Rouge Ketchup Foncé */
  
  --font-Alfa: "Alfa Slab One", serif;
  --font-Roboto: "Roboto", sans-serif;

  --text-shadow-xl: 3px 3px #fee7ba;
}

body{
  font-family: var(--font-Roboto);
  @apply text-secondary;
}

p{
  @apply mb-4;
}